/* fixes */
.equal, .equal > div[class*='col-'] {
    display: flex;
    flex:1 1 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.float {
  transition:all .3s ease-out;
}

.float:hover {
  transform:translate(0px,-10px);
}

body {
	font-size: $body-font-size;
	background: $body-background-color;
	min-height: 100vh;
	font-family: $font-family-basic;
	text-rendering: geometricPrecision;
	font-variant-ligatures: common-ligatures;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: transparentize(black,0.6);
	font-family: $font-family-highlight;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;

	a {
		color: transparentize(black,0.6);
		&:hover {
			color: transparentize(black,0.4);
		}
	}
}

blockquote small {
	color: opacify($text-color, 1);
}

p {
	padding: 1em;
	margin-bottom: 2em;
	text-align: center;
}

// HOME PAGE LAYOUT
header {
}

footer {
	display: table;
	// background: linear-gradient(transparentize($scene-4-color,0.4), hsla(0, 0%, 0%, 0.7)), url('../images/earth.jpg');
	background-image:  url('../images/earth.png');
	background-position: center top;
	background-size: cover;
	width: 100%;

	&.stick-to-bottom {
		position: absolute;
		bottom: 0;
	}

	p {
		padding: 0;
		margin: 3.5em 2em 0.5em 2em;
		height: 2em;
		line-height: 2em;
		text-align: center;
		font-family: $font-family-basic;
		font-size: 1.1em;
		font-weight: bold;
		letter-spacing: 2px;
		color: $gray-base;
	}
}

.page-holder {
	width: 100%;
}

.menu-main-menu-container {
	font-family: $font-family-highlight;
	text-transform: uppercase;
	font-weight: 900;
	clear: both;

	a {
		color: transparentize($link-color, 0.2);
	}

}

.nav-home-container {
	font-size: 30px;
	margin-bottom: 0.5em;

	ul li {
		display: inline;
		text-transform: uppercase;
		a {
			display: inline;
			line-height: 3em;


			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 100%;
				bottom: 0;
				background: transparentize($link-color, 0.2);;
				height: 4px;
				transition-property: right;
				transition-duration: 0.3s;
				transition-timing-function: ease-out;
			}
			&:focus, &:hover, &:active {
				background: none;
				&:before {
					right: 0;
				}
			}
		}
	}

}

.nav-primary-container {
	cursor: pointer;

	width: 100%;
	background: MAB;

	// background: hsla(39, 7%, 18%, 1);
	// border-bottom: 2px solid darken(hsla(39, 7%, 18%, 1),10%);
	background: linear-gradient(to bottom,hsla(39, 7%, 18%, 1), darken(hsla(39, 7%, 18%, 1),10%));

	position: fixed;
	z-index: 10;
	height: $menu-height;

	ul li {
		display: inline;
		cursor: pointer;
		line-height: 52px;

		a {
			text-transform: uppercase;
			display: inline;
			line-height: 3em;
			padding: 13px 15px;
			height: 100%;

			transition-property: color, background;
			transition-duration: 0.6s;

			&.active, &:focus, &:hover {
				background: transparentize($link-color, 0.1);
				color: hsla(39, 7%, 18%, 1);
			}
		}
	}
}



/*
menu
*/
.banner {
	position: relative;
	z-index: 110;
}

.hamburger {
	display: none !important;
	@media screen and (max-width: $break-x-large) {
		display: inline-block !important;
	}
}


#menu-main-menu-header {
	display: none;
	@media screen and (min-width: $break-x-large) {
		display: block;
	}
}

.full-size-menu {
	margin-top: 100px;

	li {
		text-transform: uppercase;
		text-align: center;
		a {
			line-height: 3em;

			&:active, &:focus, &:hover {
				background: rgba(0,0,0,0.5);
			}
		}
	}
}


// HELPERS
.vertical-center {
	min-height: 100%;	/* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)			 */

	display: flex;
	align-items: center;
}

.main {
	margin: 0;
	padding: 0;
	padding-top: 50px;
	.page-template-front-page &, .home & {
		padding-top: 0px;
	}
}


.front-page-section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.nav-primary-container,
.nav-home-container {
		visibility: visible;
	.page-template-front-page &, .home & {
		visibility: hidden;
	}
	&.visible{
		visibility: visible;
	}
}


// PROJECT SECTION
.project-on-homepage {
	img {
		width: 100%;
		height: auto;
		padding: 3em 2em;
	}
}




// COLORS

.pt-page-holder,
.pt-page-menu {
	background: $scene-1-color;
	background: linear-gradient(to bottom,
	$scene-1-color, $scene-1-color, $scene-1-color,
	$scene-2-color, $scene-2-color, $scene-2-color,
	$scene-3-color, $scene-3-color, $scene-3-color,
	$scene-4-color, $scene-4-color, $scene-4-color
	);
}

.pt-page-menu {
	background-size: 300%;
}

.pt-page-holder {
	background-size: 300%;

	.page-template-front-page &, .home & {
		background-size: 100%;
	}
}



.section-icon {
	width: 100%;
	height: 33vh;
	margin-top: 33vh;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

	@media screen and (max-width: $break-medium) {
		height: 25vh;
		margin-top: 0;
		margin-bottom: 100px;
	}

}


.front-page-section:nth-child(1) {
	.section-icon {
		background-image: url("../images/glass.svg"),url("../images/glass.svg");
		background-position: 0 0, 100 100;

	}
}

.front-page-section:nth-child(2) {
	.section-icon {
		background-image: url("../images/bottle.svg");
	}
}

.front-page-section:nth-child(3) {
	.section-icon {
		background-image: url("../images/boiler.svg");
	}
}

.front-page-section:nth-child(4) {
	.section-icon {
		background-image: url("../images/grinder.svg");
	}
}


.process-panel .text {
	height: 8em;
	overflow: hidden;


}

.h1, h1 {
	@media screen and (max-width: $break-medium) {
		font-size: 60px;
	}

	@media screen and (max-width: $break-small) {
		font-size: 44px;
	}

	@media screen and (max-width: $break-x-small) {
		font-size: 35px;
	}
}


.panel {
	background: hsla(0,0%,0%,0.2);
	border: 0;
	border-radius: 0;
	&>.panel-heading {
		background: hsla(0,0%,0%,0.3);
		border: 0;
		border-radius: 0;
		color: $link-color;
		font-family: $font-family-highlight;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
	}
	width: 100%;
}
