body {
    font-size: $body-font-size;
	background: $scene-1-color;
	background: linear-gradient(to bottom,$scene-1-color, $scene-2-color);
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
    color: rgba(256, 256, 256, 0.5);
    font-family: $font-family-serif;
    text-align: center;
    font-weight: bold;

    a {
        color: rgba(256, 256, 256, 0.5);
        &:hover {
            color: rgba(256, 256, 256, 0.6);
        }
    }


}

blockquote small {
    color: opacify($text-color, 1);
}

p {
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.page-header {
	border-bottom-color: $title-color;
}


.front-page-technology h2 {
    text-decoration: underline;
    text-align: center;
}

.front-page-technology .icons {
    text-align: center;
    width: 100%;
    float: left;
}

.front-page-technology h3 {
    display: inline;
}

.front-page-technology .icon i {

}

.page-header {
    border: 0;
}

.page-holder {
    width: 100%;
}
