.single-project {

	.pt-page-holder {
		background-size: 100%;
	}

	.main {
		padding: 0;
	}

	p {
		font-size: 20px;
	}

	.container-showcase  {
		padding: 100px 0;
	}

	.container-showcase.first {
		padding: 0;
	}

	.container-showcase.dark {
		// background: rgba(0,0,0,0.05);
	}

	.container-showcase.clear {
		// background: rgba(255,255,255,0.01);
	}

	.page-header {
		padding: 2em;
	}

	h1 {
		font-size: 120px;
		@media screen and (max-width: $break-medium) {
			font-size: 25vw;
		}
	}

	.fitted-image {
		width: 100%;
		height: auto;
	}

	.container-showcase {
		padding: 100px;
	}

	*
{
    margin: 0;
    padding: 0;
}

html, body, .container-showcase-double.container, .container-showcase-double .col-md-4, .container-showcase-double .col-md-8
{
    height: 100%;
}

.container-showcase-double *:before, .container-showcase-double *:after
{
    display: none;
}

.container-showcase-double.container:before
{
    content: '';
    display: block;
    float: left;
    height: 100%;
}

.container-showcase-double .fill
{
    color: #efefef;
    background-color: blue;
    position: relative;
}
    .container-showcase-double .fill:after
    {
        content: '';
        display: block;
        clear: left;
    }

.container-showcase-double .wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}


.container-showcase-double .image-holder
{
    float: left;
    position: static;
    background-color: yellow;
}

.container-showcase-double .text-holder
{
    position: static;
    overflow: auto;
	background-color: green;
}



	.imac {
		padding: 0 5vw;
	}

	.imac-mockup {
		width: 750px;
		height: 500px;
		float: none;
		margin-left: auto;
		margin-right: auto;

		background-image: url('../images/imac-mockup.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		// filter: drop-shadow(20px -10px 20px rgba(0, 0, 0, .6));

		.video {
			width: 535px;
			height: 305px;
			margin: 28px 0px 0px 95px;
		}

		@media screen and (max-width: $break-medium) {
			width: 563px;
			height: 375px;

			.video {
				width: 401px;
				height: 229px;
				margin: 21px 0px 0px 71px;
			}
		}

		@media screen and (max-width: $break-small) {
			width: 375px;
			height: 250px;
			.video {
				width: 268px;
				height: 153px;
				margin: 14px 0px 0px 32px;
			}
		}

		@media screen and (max-width: $break-x-small) {
			width: 250px;
			height: 167px;
			.video {
				width: 178px;
				height: 102px;
				margin: 9px 0px 0px 21px;
			}
		}
	}

	.chrome-mockup {
		/*
		original: 1000 x 58
		*/
		width: 750px;
		height: 505px;
		float: none;
		margin-left: auto;
		margin-right: auto;

		padding: 0;

		background-image: url('../images/chrome-mockup.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top center;
		margin-bottom: 2em;

		.video {
			/*
			original: 800 x 500
			ratio 0.9325
			*/
			width: 750px;
			height: 468px;
			margin: 43px 0 0 0;
			border-left: 2px solid #c8c7c7;
			border-right: 3px solid #c8c7c7;
			border-bottom: 3px solid #c8c7c7;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			background: white;
		}

		@media screen and (max-width: $break-small) {
			width: 375px;
			height: 253px;
			.video {
				width: 375px;
				height: 234px;
				margin: 21px 0 0 0;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}

		@media screen and (max-width: $break-x-small) {
			width: 300px;
			height: 202px;
			.video {
				width: 300px;
				height: 187px;
				margin: 17px 0 0 0;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		}
	}
}
