// MY colors
$title-color:      #EBBD63;
$link-color:       #6b8884;

// other colors:

$darkest-background-color: #3b2d23;
$white: #FFF;


$scene-1-color:    #e86062;
$scene-2-color:    #EBBD63;
$scene-3-color:    #6b8884;
$scene-4-color:    #3b2d23;

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
// defaults are for reference

// $brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
// $brand-success:         #5cb85c !default;
// $brand-info:            #5bc0de !default;
// $brand-warning:         #f0ad4e !default;
// $brand-danger:          #d9534f !default;

// $body-bg:               #fff !default;
// $text-color:            $gray-dark !default;


$highlight-primary:     $title-color;
$brand-danger:          #e86062;

// Fonts
$font-family-sans-serif: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
$font-family-serif:      "ff-tisa-web-pro", "Times New Roman", Times, serif;
$headings-font-family:   "ff-tisa-web-pro";

$font-size-base:        15px; //from 14px
$font-size-h1:          60px; //from 36 with font 14px
