$text-color: rgba(256, 256, 256, 0.9);
$gray-base:              rgba(0, 0, 0, 0.8);

$title-color:      rgba(256, 256, 256, 0.5);


$scene-1-color:    hsl(39, 51%, 42%);
$scene-2-color:    hsl(18, 51%, 42%);
$scene-3-color:    hsl(204, 26%, 42%);
$scene-4-color:    hsl(173, 10%, 42%);



// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$brand-primary:         $scene-1-color;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #e86062;

$body-bg:                $scene-1-color;



$highlight-primary:     $title-color;


// Fonts
$font-family-sans-serif: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
$font-family-serif:      "ff-tisa-web-pro", "Times New Roman", Times, serif;
$headings-font-family:   "ff-tisa-web-pro";

$body-font-size:        16px;
$font-size-base:        16px;
$font-size-h1:          $font-size-base * 5 !important;
$font-size-h2:          $font-size-base * 3 !important;
$font-size-h3:          $font-size-base * 2 !important;
$font-size-h4:          $font-size-base * 1.5 !important;
$font-size-h5:          $font-size-base !important;
$font-size-h6:          $font-size-base * 0.85 !important;
