.page-template-contacte-page {


	.content-holder {
		padding-top: 150px;
	}

	.pt-page-holder {
		height: auto;
	}

	.contact-container {


	}

	.contact-row {
		height: 100%;
	}


	.image-holder {
		.image {
			height: 100%;
		    background-image: url(../images/contact-image.png);
		    background-size: contain;
		    background-repeat: no-repeat;
		    background-position-x: center;
		    background-position-y: bottom;
			@media screen and (max-width: 767px) {
				background-position-x: center;
			}
		}
		@media screen and (max-width: 767px) {
			height: 50vh;
		}
	}

	.panels-holder {
	}



	.lead {
		@media screen and (max-width: $break-large) {
			font-size: 19px;
		}
		@media screen and (max-width: $break-medium) {
			font-size: 16px;
		}
	}

	.fake-footer {
		background: rgba(0,0,0,.1);
		height: 106px;
		margin-top: -106px;
		z-index: 0;
	}

	.footer {
		position: relative;
		z-index: 1;
	}
}
