header {
	display: none;
}

.home.page .main {
	margin: 0;
	padding: 0;
}
.home.page {
	background-color: white;
	color: black;
}

.front-page-section {
	height: 100vh;
}
.section-icon {
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	background-size: contain;
}

#page_id-5 {
	background-color: #6b8884;
}

#page_id-7 {
	background-color: #ebbd65;
}

#page_id-9 {
	background-color: #6b8884;
}

#page_id-12 {
	background-color: #ebbd65;
}

#page_id-5 .section-icon {
	background-color: #88766c;
}

#page_id-7 .section-icon {
	background-color: #45372e;
}

#page_id-9 .section-icon {
	background-color: #88766c;
}

#page_id-12 .section-icon {
	background-color: #45372e;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.section-icon {
	position: relative;
	margin-top: -100px;
}

.front-page-section {
	position: relative;
}

#page_id-5 { z-index: 10; }
#page_id-7 { z-index: 20; }
#page_id-9 { z-index: 30; }
#page_id-12 { z-index: 40; }
.section-icon-1 { z-index: 15; }
.section-icon-1 { z-index: 25; }
.section-icon-1 { z-index: 35; }
.section-icon-1 { z-index: 45; }
