.front-page-sections .parallax-bacgkround {
	background-size: 50px;
	opacity:0.3;
}

.parallaxParent {
	height: 100vh;
	overflow: hidden;
}
.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -100%;
}

.section-icon {
	width: 150px;
	height: 150px;
	background-size: 150px;
	float: left;
}

#page_id-5 {
	background-color: #ebbd65;
	color: #000;
}

#page_id-7 {
	background-color: #45372e;
	color: #FFF;
}

#page_id-9 {
	background-color: #6b8884;
	color: #FFF;
}

#page_id-12 {
	background-color: #88766c;
	color: #FFF;
}

#page_id-16 {
	background-color: #ec6262;
	color: #FFF;
}
